@charset "UTF-8";
/*共用样式 */
html, body {
  height: 100%;
}

body {
  background: pink;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jay-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 0 30px;
}
.jay-head .logo {
  font-size: 26px;
  text-decoration: none;
}
.jay-head .right {
  display: flex;
  align-items: center;
}
.jay-head .right p {
  margin-right: 5px;
}

.jay-main {
  flex: 1;
  display: flex;
  background: white;
}
.jay-main .jay-menu {
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
}
.jay-main .jay-menu li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}
.jay-main .body {
  flex: 1;
  padding: 20px 20px;
}

.jay-foot {
  height: 50px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.table-hover > tbody > tr:hover {
  background-color: #05f31f;
}

.pagination {
  float: right;
}
