<div class="jay-head">
    <div class="left">
        <a href="/" class="logo" id="logo">xx后台管理系统</a>
    </div>
    <div class="right">
        <p id="sss"></p>
        <a href="/login.html"><button class="btn btn-primary">退出</button></a>
    </div>
</div>
<script>
    var temp = location.search;
    var pp = document.getElementById("logo");
    pp.href = "/brand.html/" + temp;
</script>