<div class="jay-menu">
    <li id="yh"><a href="/users">用户管理</a></li>
    <li><a href="/phone.html">手机管理</a></li>
    <li><a href="/brand">品牌管理</a></li>
</div>
<script>
    console.log(document.cookie)
    var nickname = decodeURI(document.cookie.split(";")[0].split("=")[1]);
    console.log(nickname);
    var isAdmin = document.cookie.split(";")[1].split("=")[1] === 'true' ? true : false;;
    console.log(isAdmin);

    window.onload = function () {
        var name = document.getElementById("sss");
        name.style.color = "white";
        if (!isAdmin) {
            yh.style.cssText = "display:none";

            name.innerHTML = "欢迎您，" + nickname;
        } else {
            name.innerHTML = "欢迎您，" + nickname + "(管理员)";
        }
    }
</script>